.admin-panel {
    width: 80%;
    padding: 50px;
    background-color: var(--bg-color);
    box-shadow: 0px 0px 8px 0px rgb(121, 194, 253);
    border: 1px solid rgb(87, 158, 216);
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
}

form {
    width: 100%;
}

.heading {
    text-align: center;
    font-size: 36px;
    text-shadow: 1px 1px 1px #fff;
}

.game-form-container,
.category-form-container {
    margin-bottom: 32px;
    width: 100%
}

.categories-section,
.games-section,
.users-section {
    margin-bottom: 32px;
}

.games-section,
.users-section {
    width: 45%;
}

.categories-section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-top: 1px solid rgb(87, 158, 216);
}

.category-item,
.game-item,
.user-item {
    padding: 15px;
    border-bottom: 1px solid #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(167, 167, 167);
    font-size: 18px;
}

.category-item span,
.game-item span,
.user-item span {
    width: 60%;
}

.category-item:hover,
.game-item:hover,
.user-item:hover {
    background-color: #292929;
    color: rgb(221, 221, 221);
    transition: 0.1s;
    scale: 1.002;
}

.users-games {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 100px;
    border-top: 1px solid rgb(87, 158, 216);
    width: 100%;
}

.forms-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
}

.lower-headings {
    font-size: 30px;
}

.delete-button {
    background-color: #ac5f5f;
}

.delete-button:hover {
    background-color: #f55757;
    box-shadow: 0px 0px 8px 3px rgb(255, 64, 74);
    cursor: pointer;
}