.main-content-container {
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 100px;
    padding: 25px;
    margin: 25px;
}

.main-games-container {
    grid-column: 1/2;  
}

.main-users-container {
    grid-column: 2/3;    
}

.main-games-container,
.main-users-container {
    border: 1px solid rgb(87, 158, 216);
    padding: 50px;
    background-color: var(--bg-color);
    box-shadow: 0px 0px 8px 0px rgb(121, 194, 253);
}

.games-ul-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 100px; 
    padding: 25px; 
    list-style-type: none;
    overflow-y: scroll;
    min-height: 1280px;
    padding-right: 80px; 
    scrollbar-width: thin;
    scrollbar-color: rgb(81, 141, 190) grey;
    scroll-behavior: smooth;
}

.games-list-item {
    background-color: #424242; 
    color: #fff; 
    padding: 16px; 
    border-radius: 12px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s;
    box-shadow: 1px 1px 8px 1px rgb(99, 100, 102);
}

.games-list-item:hover {
    scale: 1.01;
    background-color: #525252;
    box-shadow: 1px 1px 8px 1px rgb(121, 194, 253);
    transition: 0.1s;
}

.games-list-item:active {
    scale: 0.95;
}

.game-cover-container {
    margin-top: 15px;
    border-radius: 15px;
    min-width: 45%;
    width: 60%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    height: 290px;
    box-shadow: 1px 1px 8px 1px rgb(121, 194, 253);
}

.game-cover-img {
    width: 100%;
    object-fit: cover;   
}

.game-description {
    text-align: left;
    text-indent: 25px;
}

.game-title {
    font-size: 24px;
    text-shadow: rgb(138, 187, 218) 1px 0 5px;;
}

/* besisukantis loaderis */
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
.spinner {
    border: 4px solid #f3f3f3; 
    border-top: 4px solid #3498db; 
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* userio statuso burbuliukas, ar online ar ne */
.user-status-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    
}

.online {
    background-color: #a6e2f1;
    box-shadow: 1px 1px 8px 5px rgb(121, 194, 253);
}

.offline {
    background-color: #6e5957;
    box-shadow: 1px 1px 8px 2px rgb(253, 121, 121)
}


.users-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
}

.users-list-item {
    width: 100%;
    padding: 15px;
    margin: 15px 15px 15px 15px;
    background-color: #424242; 
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    min-height: 40px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.users-list-item:hover {
    transform: scale(1.03);
    background-color: #525252;
    box-shadow: 1px 1px 8px 1px rgb(121, 194, 253);
    transition: 0.1s;
}

.users-list-item:active {
    scale: 0.95;
}

.category-filter {
    cursor: pointer;
}


@keyframes online-glow {
0% {
    box-shadow: 0 0 5px rgba(121, 194, 253, 0.5);
}
20% {
    box-shadow: 0 0 13px rgba(121, 194, 253, 0.7), 0 0 20px rgba(121, 194, 253, 0.5);
}
40% {
    box-shadow: 0 0 15px rgba(121, 194, 253, 0.9), 0 0 25px rgba(121, 194, 253, 0.6);
}
48%, 52% {
    box-shadow: none;
}
60% {
    box-shadow: 0 0 18px rgba(121, 194, 253, 0.9), 0 0 25px rgba(121, 194, 253, 0.6);
}
80% {
    box-shadow: 0 0 13px rgba(121, 194, 253, 0.7), 0 0 20px rgba(121, 194, 253, 0.5);
}
100% {
    box-shadow: 0 0 5px rgba(121, 194, 253, 0.5);
}
}

.online {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(121, 194, 253);
    animation: online-glow 5s infinite ease-in-out;
}


