.navbar {
    background-color: var(--bg-color);
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(87, 158, 216);
    box-shadow: 
    inset 1px 1px 8px 1px rgb(121, 194, 253),
    0px 0px 8px 0px rgb(121, 194, 253);
}

.navbar a {
    color: var(--text-color);
    text-decoration: none;
    margin-right: 16px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: var(--primary-button-hover);
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 16px;
}

.user-info button {
    background-color: var(--secondary-button-bg);
    color: var(--text-color);
    padding: 8px 16px;
    margin: 0;
}

.user-info button:hover {
    background-color: var(--secondary-button-hover);
}


@keyframes glow-effect {
    0% {
        text-shadow: 0 0 5px rgba(121, 194, 253, 0.5);
    }
    20% {
        text-shadow: 0 0 10px rgba(121, 194, 253, 0.7), 0 0 20px rgba(121, 194, 253, 0.5);
    }
    40% {
        text-shadow: 0 0 15px rgba(128, 197, 253, 0.9), 0 0 25px rgba(121, 194, 253, 0.6);
    }
    48%, 52% {
        text-shadow: none;
    }
    60% {
        text-shadow: 0 0 15px rgba(121, 194, 253, 0.9), 0 0 25px rgba(121, 194, 253, 0.6);
    }
    80% {
        text-shadow: 0 0 10px rgba(121, 194, 253, 0.7), 0 0 20px rgba(121, 194, 253, 0.5);
    }
    100% {
        text-shadow: 0 0 5px rgba(121, 194, 253, 0.5);
    }
}

.glowing-user-name {
    font-size: 24px;
    padding: 15px;
    animation: glow-effect 5s infinite ease-in-out;
}
  
  