:root {
  --bg-color: #2c2c2c;
  --text-color: #e2e2e2;
  --input-bg: #464646;
  --border-color: #555;
  --primary-button-bg: #4a90e2;
  --primary-button-hover: #357abd;
  --secondary-button-bg: #6a6a6a;
  --secondary-button-hover: #555;
}

body {
  color: var(--text-color);
  font-family: Arial, sans-serif;
  background-color: #181818;
  margin: 0;
  padding: 0;
}


input,
textarea,
select {
  background-color: var(--input-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 8px;
  border-radius: 4px;
  transition: border-color 0.3s;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #888;
  outline: none;
  box-shadow: 1px 1px 8px 1px rgb(121, 194, 253);
}

button {
  transition: background-color 0.3s;
  border: none;
  border-radius: 4px;
  padding: 12px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--text-color)
}

li {
  list-style: none;
}

button {
  margin-left: 8px;
  background-color: #4a90e2;
  border: none;
  color: #fff;
  padding: 12px 25px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #357abd;
}

body {
  max-width: 2780px;
  margin-left: auto;
  margin-right: auto;
}




